@use "../../mixins" as *;
@use "../../presets" as *;

.footer {
  padding: 50px $gap 70px;
  text-align: center;
  background-color: $color-primary;

  &__link {
    display: block;

    padding: 10px;

    transition: color 0.5s;

    &:hover {
      color: #d66926;
    }
  }

  &__social {
    position: relative;

    display: grid;
    justify-content: center;

    margin-bottom: $gap-x2;

    grid-template-columns: repeat(auto-fit, minmax(50px, max-content));

    &::after {
      content: "";

      position: absolute;
      bottom: -20px;
      left: calc(50% - 37.5px);

      width: 75px;
      height: 2px;

      background-color: rgba(255, 255, 255, 0.1);
    }
  }
}
