@use "../../presets" as *;
@use "../../mixins" as *;

.header-menu {
  position: absolute;
  z-index: 2;

  left: 0;
  right: 0;
  top: 0;

  &__container {
    @extend %container;
    display: grid;
    gap: $gap;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}
